body {
    background: url('/images/bg2.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* font-family: Montserrat,sans-serif!important; */
    font-family: Arvo, sans-serif!important;
}
.credits-container{
    width: 30%;
}

.btn{
    font-size: 12px !important;
}

.bg-darker {
    background-color: #121212 !important;
}

.text-acc,
.nav-header{
    color: #f39c12!important;
}

.breadcrumb-item a {
    color: #ffec00;
}
.breadcrumb-item .active {
    color: #adb5bd!important;
}
.sidebar {
    font-family: Arvo, sans-serif!important;
    text-transform: unset!important;
    opacity: 1!important;
}

.layout-navbar-fixed .wrapper .main-header {
    padding: .5rem 1.5rem;
}

.content-wrapper {
    background-color: #111!important;
}

/* HEADER */
.main-header .nav-link {
    font-size: .875rem!important;
}

.main-header .nav-link.emphasized {
    color: #f39c12!important;
}

/* CARDS */
.card-warning>.card-header {
    background-color: #f39c12!important;
}

/* BUTTONS */
.btn-warning {
    background-color: #f39c12!important;
    color: #1f2d3d!important;
    font-weight: normal;
}

.btn-warning:hover{
    color: white!important;
}